@charset "utf-8";
@import '../utility/*';
.hamburger{
  display: none;
}
.layerMenu{
  display: none !important;
}
.contact{
  display: none;
}
.inHeader{
  justify-content: center !important;
  align-items: center;
  .logo{
    top:0 !important;
    img{
      max-width: 100px !important;
    }
  }
}
.contactbox{
  display: none !important;
}
.before-footer{
  display: none !important;
}
.footer{
  .inFooter{
    display: none !important;
  }
}
.container {
  width: 100%;
  max-width: 100%;
  margin-top: 84px;
  @include max-screen(990px){
      margin-top: 82px;
  }
}

.bg {
  background: url(../../img/municipality/bg-main.jpg);
  background-size: cover;

  .title {
      display: flex;
      font-size: 38px;
      text-align: center;
      align-items: center;
      justify-content: center;
      font-weight: bold;
      width: 100%;
      height: 216px;
      margin: 0 auto;
      background-color: rgb(255, 155, 20, 0.8);

      span {
          color: #fff;
      }
  }
}
.breadcrumb {
  width: 100%;
  margin: 20px auto;
  max-width: 1024px;

  ul {
      display: flex;
      justify-content: flex-start;
      list-style: none;
      color: #A0A0A0;
      font-size: 12px;
      font-weight: 400;
      letter-spacing: 0.1em;

      li {
          a {
              position: relative;
              color: #A0A0A0;
              padding-right: 30px;

              &:after {
                  content: "";
                  position: absolute;
                  border-top: 1px solid #A0A0A0;
                  border-right: 1px solid #A0A0A0;
                  transform: rotate(45deg);
                  width: 4px;
                  height: 4px;
                  top: 7.5px;
                  right: 15px;
              }
          }
      }
  }
}
.wcm{
  padding: 0 20px;
  margin: 0 auto;
  width: 100%;
  max-width: 1040px;
}
.content{
  .ttl{
    color:#E59601;
    @include font(22,calc(52/22),0.1em,bold);
    text-align: center;
    margin-top:76px;
    margin-bottom: 20px;
  }
  .txt{
    @include font(16,calc(34/16),0.1em,400);
    text-align: center;
  }
  &--02{
    background: url(../../img/contact/bg-c2.png);
    padding: 37px 0 42px;
    width: 100%;
    margin-top:58px;
    .ttl{
      @include font(28,calc(101/28),0.1em,bold);
      text-align: center;
      color: #000;
      margin-top:0;
      margin-bottom:0;
    }
    .phone{
      @include font(12,calc(14/12),0.1em,400);
      text-align: center;
      width: 100%;
      max-width: 529px;
      margin: 0 auto;
      padding:20px 0 36px;
      border: 1px solid #000;
    p{
      position: relative;
      @include lato;
      @include font(46,calc(55/46),0,bold);
      text-align: center;
      padding-left: 43px;
      &:before{
        content: "";
        position: absolute;
        background: url(../../img/contact/phone.svg);
        width: 31px;
        height: 31px;
        top: calc(50% - 15.5px);
        right: calc(100% - 110px);
      }
    }
    }
    .txt{
      @include font(15,calc(32/15),0.1em,400);
      text-align: center;
      margin-top:30px;
    }
  }
}
.form{
  padding-top:40px;
  width: 100%;
  margin-top:89px;
  &__ttl{
    position: relative;
    @include font(28,calc(101/28),0.1em,bold);
    text-align: center;
    color:#E59601;
    &:before{
      content: "";
      position: absolute;
      background: url(../../img/contact/mail-or.svg);
      width: 40px;
      height: 28px;
      left: calc(50% - 20px);
      top:-7px;
    }
  }
  &__step{
    background: url(../../img/contact/step1-or.svg);
    @include aspect-ratio(680px,48px);
    background-size: cover;
    margin:25px auto 42px;
    width: 100%;
    max-width: 680px;
  }
  &__txt{
    @include font(16,calc(34/16),0.1em,400);
    text-align:center;
  }
  &__content{
    margin-top:56px;
    .row{
      display: flex;
      width: 100%;
      border-top:1px solid  #D8D8D8;
      justify-content: space-between;
      .th{
        display: flex;
        width: 100%;
        max-width: 250px;
        background-color: #F2F0E7;
        align-items: flex-start;
        padding:38px 20px;
        .cat{
          background-color: #E59601;
          color: #fff;
          @include font(16,calc(22/16),0.1em,bold);
         text-align: center;
          width: 100%;
          max-width: 48px;
          padding: 1px 0 2px;
        }
        .row-name{
          @include font(16,calc(22/16),0.1em,bold);
          padding-left: 12px;
          span{
            display: block;
            @include font(12,calc(20/12),0.1em,500);  
          }
        }
      }
    }
  }
}
