@charset 'UTF-8';
@import '../utility/*';

body{
    overflow-x: hidden;
}
@include PC{
    .sp{
        display: none;
    }
}
.container {
    width: 100%;
    max-width: 100%;
    margin-top: 104px;
    overflow: hidden;
    @include max-screen(990px){
        margin-top: 82px;
    }
    @include SP{
        margin-top:70px;
    }
}

.bg {
    background: url(../../img/municipality/bg-main.jpg);
    background-size: cover;

    .title {
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 216px;
        margin: 0 auto;
        background-color: rgba(255, 155, 20, 0.8);
        @include font(38,calc(52/38),0.1em,bold);
        span {
            color: #fff;
        }
        @include SP{
            @include font(26,calc(52/25),0.1em,bold);
            height: 110px;
        }
    }
}

.breadcrumb {
    width: 100%;
    margin: 11px auto;
    max-width: 1197px;

    ul {
        display: flex;
        justify-content: flex-start;
        list-style: none;
        color: #A0A0A0;
        font-size: 12px;
        font-weight: 400;
        letter-spacing: 0.1em;

        li {
            a {
                position: relative;
                color: #A0A0A0;
                padding-right: 24px;
                text-decoration: underline;

                &:after {
                    content: "";
                    position: absolute;
                    border-top: 1px solid #A0A0A0;
                    border-right: 1px solid #A0A0A0;
                    transform: rotate(45deg);
                    width: 4px;
                    height: 4px;
                    top: 7.5px;
                    right: 11px;
                }
            }
        }
    }
    @include SP{
        padding: 0 20px;
    }
}
.section{
    margin-top:83px;
    width:100%;
    @include SP{
        margin-top:43px;
    }
}
.firstBlock{
    .txt{
        text-align: center;
        @include font(18,calc(44/18),0.1em,400);
        @include SP{
            text-align: justify;
            @include font(16,calc(36/16),0.1em,400);
            padding: 0 20px
        }
    }
    &__inside{
        margin: 79px auto;
        max-width: 1129px;
        padding: 0 20px;
        display: flex;
        justify-content: space-between;
        @include SP{
            flex-wrap: wrap;
            margin: 10px auto;
            padding: 0 20px;
        }
        .bg-btn{
            width: 100%;
            max-width: calc(50% - 4px);
            &:nth-child(1){
                background-image: url(../../img/life-style/bg-btn1.png);
                background-size: cover;
            }
            background-size: cover;
            padding: 45px 37px;
            @include SP{
                padding: 32px 21px 37px;
                margin-top:20px;
                max-width: 100%;;
            }
            &:nth-child(2){
                background-image: url(../../img/life-style/bg-btn2.png);
                background-size: cover;
            }
            &__ttl{
                text-align: center;
                @include font(26,calc(34/26),0.1em,bold);
                color: #fff;
                @include SP{
                    @include font(24,calc(34/24),0.1em,bold);
                }
                span{
                    @include font(14,calc(34/14),0.1em,bold);
                    @include SP{
                        @include font(16,calc(34/16),0.1em,bold);
                    }
                }
            }
            .grBtn{
                width: 100%;
                display: flex;
                justify-content: space-between;
                margin-top:32px;
                @include SP{
                    flex-wrap: wrap;
                    margin-top: 15px;
                }
                a{
                    position:relative;
                    width: 100%;
                    max-width: calc(50% - 8.5px);
                    background: #000;
                    @include font(16,calc(34/16),0.1em,bold);
                    color:#fff;
                    text-align: center;
                    padding: 15px 0 15px 0;
                    transition: all 0.3s;
                    @include SP{
                        margin: 0 auto;
                        max-width: 295px;
                        padding:12px 0;
                        margin-top:10px;
                    }
                    @include max-screen(1024px){
                        padding:8px 0;
                    }
                    &:before{
                        content:"";
                        position: absolute;
                        width: 9px;
                        height: 9px;
                        border-top: 1px solid #fff;
                        border-left: 1px solid #fff;
                        transform: rotate(-135deg);
                        top: calc(50% - 7px);
                        right:15px;
                        transition: all 0.3s;
                        @include SP{
                            right:23px;
                        }
                    }
                    &:hover{
                        background-color: #fff;
                        color:#000;
                        opacity: 1;
                        &:before{
                            border-top: 1px solid #000;
                        border-left: 1px solid #000;
                        }
                    }
                }
            }
        }
    }
}
.bgContent{
    width: 100%;
    margin-top:50px;
    background: url(../../img/life-style/bg-sect1.png);
    background-size: cover;
    padding-top:199px;
    padding-bottom: 206px;
    @include SP{
        padding:104px 20px 161px;
    }
    &:nth-child(3){
        margin-top:121px;
        @include SP{
            margin-top:83px;
        }
    }
    &:nth-child(8){
        margin-top:73px;
        background: url(../../img/life-style/bg-sect2.png);
        background-size: cover;
        @include SP{
            margin-top:111px;
            padding: 69px 20px 161px;
        }
    }
    &__ttl{
        color:#fff;
        text-align: center;
        line-height: 3.5;
        h2{
            @include font(40,calc(34/40),0.1em,bold);
            @include SP{
                @include font(30,calc(34/30),0.1em,bold);
            }
        }
        span{
            @include font(18,calc(34/18),0.1em,bold);
            @include SP{
                @include font(16,calc(34/16),0.1em,bold);
            }
        }
    }
    &__txt{
        @include font(16,calc(34/16),0.1em,400);
        text-align: center;
        color:#fff;
        margin-top:52px;
        @include SP{
            text-align: left;
            @include font(15,calc(30/15),0.1em,400);
            margin-top:40px;
        }
    }
}
.content{
    width: 100%;
    background: url(../../img/life-style/bg-Content.png);
    background-size: cover;
    padding-top: 92px;
    padding-bottom: 310px;
    position: relative;
    @include SP{
        padding-top:30px;
    }
    &:nth-child(4){
        .wcm-content{
            &__inside{
                &:before{
                    content: "";
                    position: absolute;
                    background: url(../../img/life-style/circle1.png);
                    width: 629px;
                    height: 729px;
                    background-size: cover;
                    right: -518px;
                    top:-196px;
                    @include SP{
                        width: 303px;
                        height: 364px;
                        right: -70px;
                        top:-86px
                    }
                }
            }
            &:after{
                content: "";
                position: absolute;
                background: url(../../img/life-style/circl2.png);
                width: 396px;
                height: 378px;
                background-size: cover;
                bottom: 148px;
                right: calc(100% - 373px);
                z-index: 1;
                @include max-screen(1215px){
                    right: calc(100% - 269px);
                }
                @include max-screen(1024px){
                    width: 326px;
                    height: 311px;
                    right: calc(100% - 215px)
                }
                @include SP{
                    width: 199px;
                    height: 190px;
                    right: 195px;
                    bottom: 188px;
                }
            }
        }
    }
    &:nth-child(6){
        .wcm-content{
            &__inside{
                &:before{
                    content: "";
                    position: absolute;
                    background: url(../../img/life-style/circle4.png);
                    width: 636px;
                    height: 795px;
                    background-size: cover;
                    right: -538px;
                    top:-173px;
                    @include SP{
                        width: 303px;
                        height: 379px;
                        top: -68px;
                        right: -73px;
                    }
                }
            }
            &:after{
                content: "";
                position: absolute;
                background: url(../../img/life-style/cricle6.png);
                width: 100%;
                height: 100%;
                background-size: cover;
                bottom: 103px;
                right: calc(100% - 390px);
                z-index: 1;
                @include max-screen(1215px){
                    width: 380px;
                    height: 380px;
                    right:calc(100% - 323px);
                }
                @include screen(768px,1024px){
                    width: 310px;
                    height: 310px;
                    right:calc(100% - 223px);
                }
                @include SP{
                    width: 177px;
                    height: 176px;
                    right:calc(100% - 168px);
                    bottom: 215px;
                }
            }
        }
    }
    &:nth-child(9){
        padding-bottom:281px;
        .wcm-content{
            &__inside{
                &:before{
                    content: "";
                    position: absolute;
                    background: url(../../img/life-style/circle7.png);
                    width: 541px;
                    height: 728px;
                    background-size: cover;
                    right: -502px;
                    top:-134px;
                    @include SP{
                        width: 302px;
                        height: 432px;
                        right:-84px;
                        top:-111px;
                    }
                }
                &:after{
                    content: "";
                    position: absolute;
                    background: url(../../img/life-style/cirrcle9.png);
                    width: 180px;
                    height: 180px;
                    background-size: cover;
                    right: -352px;
                    bottom:258px;
                }
            }
            &:after{
                content: "";
                position: absolute;
                background: url(../../img/life-style/circle8.png);
                width: 386px;
                height: 454px;
                background-size: cover;
                bottom: 120px;
                right: calc(100% - 358px);
                z-index: 1;
                @include SP{
                    width: 199px;
                    height: 234px;
                    right:calc(100% - 116px);
                    bottom:109px;
                }
            }
        }
    }
    &:nth-child(11){
        margin-top:-16px;
        .wcm-content{
            &__inside{
                &:before{
                    content: "";
                    position: absolute;
                    background: url(../../img/life-style/circle11.png);
                    width: 448px;
                    height: 374px;
                    background-size: cover;
                    right: -402px;
                    top:-113px;
                    @include SP{
                        width: 290px;
                        height: 242px;
                        right: -75px;
                        top:-88px
                    }
                }
            }
        }
    }

.wcm-content{
    max-width: 1366px;
    margin:0 auto;
    &__inside{
        position: relative;
        display: flex;
        padding:0 20px;
        width: calc(80% - 4px);
        max-width: 990px;
        @include SP{
            flex-wrap: wrap;
            width: 100%;
        }
        &--ttl{
            @include font(63,1.5,0.1em,900);
            writing-mode: vertical-lr;
            margin:0 auto;
            @include SP{
                @include font(36,1.5,0.1em,900);
                margin:0;
                padding-left:3px;
            }
        }
        &--txt{
            @include font(18,calc(36/18),0.1em,400);
            padding-left:20px;
            padding-top:72px;
            width: 554px;
            @include SP{
                @include font(15,calc(28/15),0.1em,400);
                padding: 34px 6px 81px 0;
            }
        }
    }
}
}
.wcm{
    width: 100%;
    position: relative;
    margin-top:-186px;
    padding:0 20px;
    height: 527px;
    @include SP{
        margin-top: -124px;
        margin-bottom:60px;
    }
    &:nth-child(7){
        margin-top:-170px;
        .content-Org{
            &:before{
                background: url(../../img/life-style/circle5.png);
                width: 393px;
                height: 437px;
                top:-212px;
                left:calc(100% - 184px);
                @include SP{
                    width: 180px;
                    height: 199px;
                    background-size: cover;
                    top:-216px;
                    left: calc(100% - 124px);
                }
            }
        }
    }
    &:nth-child(10){
        .content-Org{
            &:before{
                background: url(../../img/life-style/circle10.png);
                    width: 365px;
                    height: 365px;
                    top:-262px;
                    left:calc(100% - 139px);
                    @include SP{
                        background-size: cover;
                        width: 161px;
                        height: 161px;
                        left: calc(100% - 82px);
                        top: -240px;
                    }
            }
        }
    }
    &:nth-child(12){
        margin-top:-194px;
        height:467px;
        @include SP{
            margin-top: -288px;
            margin-bottom: 0;
        }
        .content-Org{
            &:before{
                background: url(../../img/life-style/circle12.png);
                    width: 497px;
                    height: 497px;
                    top:-433px;
                    left:calc(100% - 271px);
                    @include SP{
                        background-size: cover;
                        width: 170px;
                        height: 170px;
                        top:-213px;
                        left: calc(100% - 111px);
                    }
            }
        }
    }
    .content-Org{
        width: 100%;
        max-width: 1010px;
        position: relative;
        border: 12px solid #E59601;
        margin:0 auto;
        background-color: #fff;
        @include SP{
            border: 8px solid #E59601;
        }
        &__heading{
            display: flex;
            align-items: center;
            justify-content: center;
            padding-bottom: 9px;
            position: absolute;
            background: url(../../img/life-style/bg-or.png);
            width: 574.28px;
            height: 98.52px;
            background-size: cover;
            color:#fff;
            @include font(24,calc(32/24),0.1em,bold);
            top:-62px;
            right:calc(50% - 286px);
            @include SP{
                @include font(18,calc(28/18),0.1em,bold);
                background: url(../../img/life-style/bg-or-sp.png);
                width: 323.98px;
                height: 120.46px;
                right:calc(50% - 162px);
                top:-85px;
                text-align: center;
            }
        }
        &__txt{
            list-style:none;
            max-width: 892px;
            margin:0 auto;
            padding: 52px 0;
            @include SP{
                padding: 41px 17px;
            }
            li{
                @include font(18,calc(32/18),0.08em,400);
                border-bottom: 1px solid #D8D8D8;
                padding: 13px 0 11px 38px;
                position: relative;
                @include SP{
                    @include font(14,calc(26/14),0.08em,400);
                    padding: 13px 0 13px 24px;
                }
                &:before{
                    content: "";
                    position: absolute;
                    background: url(../../img/life-style/check-org.svg);
                    width: 24.78px;
                    height: 22.3px;
                    background-size: cover;
                    left:0;
                    top:17px;
                    @include SP{
                        width: 20.28px;
                        height: 18.26px;
                    }
                }
            }
        }
        &:before{
            content: "";
            position: absolute;
            background: url(../../img/life-style/circle3.png);
            width: 373px;
            height: 620px;
            background-size: cover;
            top: -438px;
            left: calc(100% - 166px);
            z-index: 1;
            @include SP{
                width: 200px;
                height: 331px;
                top:-376px;
                left: calc(100% - 114px);
            }
        }
    }
    &:after{
        content: "";
        position:absolute;
        background-color: #fff;
        height: 343px;
        width: 100%;
        top:186px;
        z-index: -1;
    }
}
.tree-Bg{
    width: 100%;
    background: url(../../img/life-style/bg-tree.svg);
    background-size: cover;
    padding: 0 20px 169px;
    @include SP{
        padding: 0 20px 133px;
    }
    &__btn{
        display: flex;
        margin:0 auto;
        max-width: 575px;
        justify-content: space-between;
        @include SP{
            flex-wrap: wrap;
            max-width: 100%;
            position: relative;
            margin-top:-18px;
        }
        &--custom{
            position: relative;
            width: 100%;
            color:#000 !important;
            max-width: 270px;
            border:1px solid #000;
            @include font(16,calc(32/16),0.1em,bold);
            padding:33px 0 35px 25px;
            background-color: #fff; 
            @include SP{
                max-width: 375px;
                padding: 21px 0 21px 29px;
                margin: 19px auto 0;
            }
            &:after{
                content: "";
                position: absolute;

                width: 40px;
                border-top:1px solid #000;
                right: 0;
                top:calc(50% - 1px);
            }
        }
    }
}
.prev-footer{
    position: relative;
    margin-top: -50px;
    width: 100%;
    margin-bottom: 70px;
    .quote{
        display: flex;
        max-width: 1089px;
        margin: 0 auto;
        justify-content: space-between;
        @include SP{
            flex-wrap: wrap;
        }
        &__content{
            width: 100%;
            max-width: 544px;
            padding-top:58px;
            padding-bottom: 51px;
            @include SP{
                padding-top:32px;
                padding-bottom: 32px;
                max-width: 100%;
            }
            &:nth-child(1){
                background: url(../../img/life-style/bg-btn3.png);
                background-size: cover;
            }
            &:nth-child(2){
                background: url(../../img/life-style/bg-btn4.png);
                background-size: cover;
                @include SP{
                    margin-top:2px;
                }
            }
            &--ttl{
                @include font(18,calc(34/18),0.1em,bold);
                color: #fff;
                text-align: center;
                @include SP{
                    @include font(16,calc(28/16),0.1em,bold);
                }
            }
            &--btn{
                position: relative;
                display: flex;
                width: 100%;
                max-width: 260px;
                margin:18px auto 0 auto;
                @include font(16,calc(34/16),0.1em,bold);
                color: #fff;
                align-items: center;
                justify-content: center;
                border:1px solid #000;
                background-color: #000;
                padding: 9px 0;
                &:after{
                    position: absolute;
                    content: "";
                    border-top:1px solid #fff;
                    width: 20px;
                    right:-1px;
                    top:calc(50% - 1px);
                }
                @include SP{
                    @include font(14,calc(34/14),0.1em,bold);
                    max-width: 192px;
                    margin-top:9px; 
                    padding:3px 0;
                }
            }
        }

    }
}