@charset 'UTF-8';
@import '../utility/*';

body{
    overflow-x: hidden;
}
.container {
    width: 100%;
    max-width: 100%;
    margin-top: 104px;
    @include max-screen(990px){
        margin-top: 82px;
    }
}

.bg {
    background: url(../../img/municipality/bg-main.jpg);
    background-size: cover;

    .title {
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 216px;
        margin: 0 auto;
        background-color: #E59601;
        opacity: 0.9;
        @include font(38,calc(52/38),0.1em,bold);
        span {
            color: #fff;
        }
    }
}

.breadcrumb {
    width: 100%;
    margin: 11px auto;
    max-width: 1197px;

    ul {
        display: flex;
        justify-content: flex-start;
        list-style: none;
        color: #A0A0A0;
        font-size: 12px;
        font-weight: 400;
        letter-spacing: 0.1em;

        li {
            a {
                position: relative;
                color: #A0A0A0;
                padding-right: 24px;
                text-decoration: underline;

                &:after {
                    content: "";
                    position: absolute;
                    border-top: 1px solid #A0A0A0;
                    border-right: 1px solid #A0A0A0;
                    transform: rotate(45deg);
                    width: 4px;
                    height: 4px;
                    top: 7.5px;
                    right: 11px;
                }
            }
        }
    }
}
.section{
    margin-top:83px;
    width:100%;
}
.firstBlock{
    .txt{
        text-align: center;
        @include font(18,calc(44/18),0.1em,400);
    }
    &__inside{
        margin: 79px auto;
        max-width: 1089px;
        display: flex;
        justify-content: space-between;

        .bg-btn{
            width: 100%;
            max-width: 540px;
            &:nth-child(1){
                background-image: url(../../img/life-style/bg-btn1.png);
            }
            background-size: cover;
            padding: 45px 37px;
            &:nth-child(2){
                background-image: url(../../img/life-style/bg-btn2.png);
            }
            &__ttl{
                text-align: center;
                @include font(26,calc(34/26),0.1em,bold);
                color: #fff;
                span{
                    @include font(14,calc(34/14),0.1em,bold);
                }
            }
            .grBtn{
                width: 100%;
                display: flex;
                justify-content: space-between;
                margin-top:32px;
                a{
                    position:relative;
                    width: 100%;
                    max-width: 222px;
                    background: #000;
                    @include font(16,calc(34/16),0.1em,bold);
                    color:#fff;
                    text-align: center;
                    padding: 15px 0 15px 0;
                    transition: all 0.3s;
                    &:before{
                        content:"";
                        position: absolute;
                        width: 9px;
                        height: 9px;
                        border-top: 1px solid #fff;
                        border-left: 1px solid #fff;
                        transform: rotate(-135deg);
                        top: calc(50% - 7px);
                        right:15px;
                        transition: all 0.3s;
                    }
                    &:hover{
                        background-color: #fff;
                        color:#000;
                        opacity: 1;
                        &:before{
                            border-top: 1px solid #000;
                        border-left: 1px solid #000;
                        }
                    }
                }
            }
        }
    }
}
.bgContent{
    width: 100%;
    margin-top:50px;
    background: url(../../img/life-style/bg-sect1.png);
    background-size: cover;
    padding-top:199px;
    padding-bottom: 206px;
    &__ttl{
        color:#fff;
        text-align: center;
        line-height: 3.5;
        h2{
            @include font(40,calc(34/40),0.1em,bold);
        }
        span{
            @include font(18,calc(34/18),0.1em,bold);
        }
    }
    &__txt{
        @include font(16,calc(34/16),0.1em,400);
        text-align: center;
        color:#fff;
        margin-top:52px;
    }
}
.content{
    width: 100%;
    background: url(../../img/life-style/bg-Content.png);
    background-size: cover;
    padding-top: 92px;
    padding-bottom: 310px;
    position: relative;
.wcm-content{
    max-width: 1366px;
    margin:0 auto;
    &__inside{
        position: relative;
        display: flex;
        padding:0 20px;
        width: calc(70% - 4px);
        max-width: 953px;
        &--ttl{
            @include font(63,1.5,0.2em,900);
            writing-mode: vertical-lr;
            margin:0 auto;
        }
        &--txt{
            @include font(18,calc(36/18),0.1em,400);
            padding-left:20px;
            padding-top:72px
        }
        &:before{
            content: "";
            position: absolute;
            background: url(../../img/life-style/circle1.png);
            width: 629px;
            height: 729px;
            background-size: cover;
            right: -557px;
            top:-196px;
        }
    }
}
    &:after{
        content: "";
        position: absolute;
        background: url(../../img/life-style/circl2.png);
        width: 396px;
        height: 378px;
        background-size: cover;
        bottom: 148px;
        right: calc(100% - 373px);
        z-index: 1;
    }
}
.wcm{
    width: 100%;
    position: relative;
    margin-top:-186px;
    padding:0 20px;
    height: 527px;
    .content-Org{
        width: 100%;
        max-width: 1010px;
        position: relative;
        border: 12px solid #E59601;
        margin:0 auto;
        background-color: #fff;
        &__heading{
            display: flex;
            align-items: center;
            justify-content: center;
            padding-bottom: 9px;
            position: absolute;
            background: url(../../img/life-style/bg-or.png);
            width: 574.28px;
            height: 98.52px;
            background-size: cover;
            color:#fff;
            @include font(24,calc(32/24),0.1em,bold);
            top:-62px;
            right:calc(50% - 286px)
        }
        &__txt{
            list-style:none;
            max-width: 892px;
            margin:0 auto;
            padding: 52px 0;
            li{
                @include font(18,calc(32/18),0.08em,400);
                border-bottom: 1px solid #D8D8D8;
                padding: 13px 0 11px 38px;
                position: relative;
                &:before{
                    content: "";
                    position: absolute;
                    background: url(../../img/life-style/check-org.svg);
                    width: 24.78px;
                    height: 22.3px;
                    background-size: cover;
                    left:0;
                    bottom:17px;
                }
            }
        }
        &:before{
            content: "";
            position: absolute;
            background: url(../../img/life-style/circle3.png);
            width: 373px;
            height: 620px;
            background-size: cover;
            top: -438px;
            left: calc(100% - 166px);
            z-index: 1;
        }
    }
    &:after{
        content: "";
        position:absolute;
        background-color: #fff;
        height: 343px;
        width: 100%;
        top:186px;
        z-index: -1;
    }
}