@charset 'UTF-8';
@import '../utility/*';
@import 'slick-theme.scss';

.pc {
    display: none;

    @include PC {
        display: block;
    }
}

.container {
    width: 100%;
    max-width: 100%;
    margin-top: 104px;
    @include max-screen(990px){
        margin-top: 82px;
    }
}

.bg {
    background: url(../../img/municipality/bg-main.jpg);
    background-size: cover;

    .title {
        display: flex;
        font-size: 38px;
        text-align: center;
        align-items: center;
        justify-content: center;
        font-weight: bold;
        width: 100%;
        height: 216px;
        margin: 0 auto;
        background-color: #E59601;
        opacity: 0.9;

        span {
            color: #fff;
        }
    }
}

.breadcrumb {
    width: 100%;
    margin: 20px auto;
    max-width: 1024px;

    ul {
        display: flex;
        justify-content: flex-start;
        list-style: none;
        color: #A0A0A0;
        font-size: 12px;
        font-weight: 400;
        letter-spacing: 0.1em;

        li {
            a {
                position: relative;
                color: #A0A0A0;
                padding-right: 30px;

                &:after {
                    content: "";
                    position: absolute;
                    border-top: 1px solid #A0A0A0;
                    border-right: 1px solid #A0A0A0;
                    transform: rotate(45deg);
                    width: 4px;
                    height: 4px;
                    top: 7.5px;
                    right: 15px;
                }
            }
        }
    }
}

.section {
    display: flex;
    width: 100%;
    margin-top: 35px;
    justify-content: space-between;

    .sp-scrollbar {
        display: none;

        @include SP {
            display: block;
        }

        margin-top: 50px;
        margin-bottom: 70px;

        ul {
            border: 1px solid #000;
            list-style-type: none;
            padding: 0;
            max-width: 335px;
            margin: 0 auto;

            .ttl {
                font-size: 15px;
                font-weight: bold;
                letter-spacing: 0.1em;
                line-height: calc(22/15);
                color: #fff;
                background: #000;
                padding: 15px;
                display: flex;
                justify-content: space-between;

                &.active-sp span {
                    transform: rotate(90deg);

                    &:last-child {
                        left: 50%;
                        right: 50%
                    }
                }

                a {
                    position: relative;
                    width: 24px;
                    height: 24px;

                    span {
                        position: absolute;
                        transition: 300ms;
                        background: white;

                        &:first-child {
                            top: 20%;
                            bottom: 20%;
                            width: 1%;
                            left: 48%;
                        }

                        &:last-child {
                            right: 20%;
                            left: 20%;
                            height: 1%;
                            top: 48%;
                        }
                    }
                }

                p {
                    margin: 0;
                }
            }

            li {
                &:not(.ttl) {
                    font-size: 14px;
                    font-weight: 400;
                    letter-spacing: 0.1em;
                    line-height: calc(32/14);
                    border-top: 1px solid #000;
                    padding: 10px 0 10px 30px;
                    position: relative;

                    &:before {
                        content: "";
                        position: absolute;
                        background: url(../../img/municipality/arr-archorsp.svg);
                        width: 4.5px;
                        height: 9px;
                        left: 16px;
                        top: calc(50% - 4.5px);
                    }
                }
            }
        }
    }

    .scroll-bar {
        width: 100%;
        max-width: 18%;
        position: relative;

        .list {
            position: absolute;
            z-index: 1;
            margin: 0 auto;
            width: 100%;
            padding:0 27px;

            ul {
                align-items: center;
                list-style: none;
                margin: 0 auto;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;

                a {
                    text-decoration: none;
                    width: 100%;
                    text-align: center;
                    opacity: 1;

                    &.btn {
                        width: 100%;
                        margin-bottom: 15px;
                        background-color: #000;
                        position: relative;
                        border: 1px solid #000;

                        .btn-text {
                            position: relative;
                            color: #fff;
                            font-size: 16px;
                            letter-spacing: 0.1em;
                            font-weight: 700;
                            padding: 10px 0 10px 15px;
                            mix-blend-mode: difference;
                            text-align: left;

                            &:after {
                                content: "";
                                position: absolute;
                                border-bottom: 1px solid #fff;
                                width: 20px;
                                right: 0;
                                top: 50%
                            }
                        }

                        &:before {
                            content: "";
                            width: 0%;
                            background-color: #fff;
                            height: 100%;
                            position: absolute;
                            top: 0;
                            left: 0;
                            transition: 0.3s all;
                        }

                        &:hover {
                            &:before {
                                width: 100%;
                            }
                        }
                    }
                }

            }
        }

        @include SP {
            display: none;
        }
    }

    .content {
        width: 100%;
        max-width: 82%;
        position: relative;

        .item {
            &:not(:last-child) {
                margin-bottom: 50px;
            }

            &__ttl {
                height: 100px;
                display: flex;
                align-items: center;
                color: #fff;
                background-color: #E59601;
                font-weight: 700;
                font-size: 32px;
                letter-spacing: 0.1em;
                padding-left: 60px;
                margin: 0 auto;

                @include SP {
                    height: 95px;
                    justify-content: center;
                    padding-left: 0;
                }
            }

            &__inside {
                width: 100%;
                max-width: 967px;
                position: relative;
                margin: 0 auto;

                @include SP {
                    padding: 0 20px;
                }

                .part {
                    display: flex;
                    margin-top: 55px;
                    justify-content: space-between;
                    width: 100%;

                    @include SP {
                        flex-wrap: wrap;
                        margin-top: 40px;
                    }

                    &__doc {
                        width: 56.5%;

                        @include SP {
                            width: 100%;
                            order: 2;
                        }

                        &__ttl {
                            color: #000;
                            font-size: 24px;
                            font-weight: bold;
                            letter-spacing: 0.1em;
                            line-height: 40px;
                            margin-bottom: 20px;

                            @include SP {
                                font-size: 20px;
                                line-height: calc(34/20);
                                margin-top: 15px;
                            }
                        }

                        &__txt {
                            color: #000;
                            font-size: 16px;
                            font-weight: 400;
                            letter-spacing: 0.1em;
                            line-height: 30px;

                            @include SP {
                                font-size: 15px;
                                line-height: calc(30/15);
                            }
                        }
                    }

                    &__img {
                        width: 39.5%;
                        padding-top: 2px;

                        @include SP {
                            width: 100%;
                        }
                    }
                }

                .blockGray {
                    margin-top: 60px;
                    width: 100%;
                    padding: 25px;
                    background: #F2F0E7 url(../../img/municipality/bg-footer.png);

                    @include SP {
                        padding: 25px 20px;
                    }

                    .heading {
                        width: 100%;
                        font-size: 20px;
                        color: #000;
                        letter-spacing: 0.1em;
                        font-weight: 900;
                        line-height: 44px;
                        align-items: center;
                        text-align: center;

                        @include SP {
                            font-size: 16px;
                            line-height: calc(28/16);
                            text-align: left;
                        }
                    }

                    &__img {
                        margin: 30px auto;
                        width: 100%;
                        max-width: 868px;

                        @include SP {
                            img {
                                margin: 0 auto;
                                width: 100%;
                            }
                        }
                    }

                    .list {
                        list-style: none;
                        width: 100%;
                        max-width: 868px;
                        margin: 0 auto;
                        padding-left: 20px;

                        li {
                            display: flex;
                            font-size: 15px;
                            font-weight: 400;
                            line-height: 28px;
                            color: #000;
                            letter-spacing: 0.1rem;
                            margin: 15px 0;

                            @include SP {
                                display: block;
                                font-size: 14px;
                                line-height: calc(24/14);
                            }

                            .txt1 {
                                position: relative;
                                width: 170px;
                                padding-left: 14pxl;

                                &:before {
                                    content: "";
                                    position: absolute;
                                    border: 1px solid #E59601;
                                    border-radius: 50%;
                                    width: 3px;
                                    height: 3px;
                                    background: #E59601;
                                    top: 12px;
                                    left: -21px;
                                }

                                &:after {
                                    content: ":";
                                    position: absolute;
                                    right: 22px;

                                    @include SP {
                                        display: none;
                                    }
                                }

                            }
                        }
                    }
                }

                >.txt {
                    font-size: 16px;
                    line-height: calc(34/16);
                    letter-spacing: 0.1em;
                    margin-top: 50px;

                    @include SP {
                        font-size: 15px;
                        line-height: calc(30/15);
                        margin-top: 20px;
                    }
                }

                .blockOrg {
                    width: 100%;
                    display: flex;
                    margin-top: 50px;
                    justify-content: space-between;
                    flex-wrap: wrap;
                    counter-reset: section;

                    .card {
                        border: 1px solid #E59601;
                        padding: 51px 32px 34px;
                        position: relative;
                        width: calc(50% - 14px);
                        margin-bottom: 60px;

                        @include SP {
                            width: 100%;
                            padding: 41px 15px 28px;
                            margin-bottom: 39px;
                        }

                        &__img {
                            width: 82px;
                            position: absolute;
                            top: -42px;
                            right: calc(50% - 41px);

                            @include SP {
                                width: 58px;
                                top: -31px;
                                right: calc(50% - 32px);
                            }
                        }

                        &__ttl {
                            font-size: 18px;
                            font-weight: 900;
                            line-height: calc(40/18);
                            letter-spacing: 0.1em;
                            padding-left: 30px;
                            position: relative;

                            @include SP {
                                font-size: 16px;
                                line-height: calc(22/16);
                                padding-left: 25px;
                            }

                            &:before {
                                counter-increment: section;
                                content: ""counter(section)".";
                                position: absolute;
                                color: #E59601;
                                font-size: 30px;
                                @include lato;
                                font-weight: bold;
                                left: -3px;
                                top: -15px;

                                @include SP {
                                    font-size: 26px;
                                    left: 0;
                                    top: -7px;
                                }
                            }
                        }

                        &__txt {
                            font-size: 14px;
                            line-height: calc(22/14);
                            letter-spacing: 0.1em;
                            margin-top: 9px;

                            @include SP {
                                font-size: 14px;
                                line-height: calc(22/14);
                                margin-top: 12px;
                            }

                            >p {
                                padding-left: 20px;
                                position: relative;

                                @include SP {
                                    margin-bottom: 5px;
                                }

                                &:before {
                                    content: "・";
                                    position: absolute;
                                    left: 0;
                                }
                            }
                        }
                    }
                }

                &--ttl {
                    font-size: 18px;
                    line-height: calc(28/18);
                    letter-spacing: 0.1em;
                    font-weight: bold;

                    @include SP {
                        font-size: 16px;
                        line-height: calc(28/16);
                    }
                }

                &--txt {
                    margin-top: 25px;
                    font-size: 14px;
                    line-height: calc(24/14);
                    letter-spacing: 0.1em;
                    counter-reset: section;

                    @include SP {
                        font-size: 13px;
                        line-height: calc(22/13);
                        margin-top: 15px;
                    }

                    >p {
                        position: relative;
                        padding-left: 20px;
                        padding-bottom: 10px;

                        &:before {
                            counter-increment: section;
                            content: ""counter(section)".";
                            position: absolute;
                            @include lato;
                            font-size: 18px;
                            font-weight: bold;
                            color: #E59601;
                            left: -0;

                            @include SP {
                                font-size: 16px;
                                top: -2px;
                            }
                        }
                    }
                }

                .infor {
                    padding: 60px 0 20px 0;

                    @include SP {
                        padding: 30px 0 0;
                    }

                    img {
                        width: 100%;
                        max-width: 968px;
                    }

                    &__ttl {
                        font-size: 20px;
                        font-weight: bold;
                        line-height: calc(52/20);
                        letter-spacing: 0.1em;
                        margin: 20px 0;

                        @include SP {
                            font-size: 18px;
                            line-height: calc(30/18);
                        }
                    }

                    &__txt {
                        font-size: 16px;
                        letter-spacing: 0.1em;
                        line-height: calc(34/16);

                        @include SP {
                            font-size: 15px;
                            line-height: calc(30/15);
                        }
                    }
                }

                .qa {
                    border-top: 1px solid #D8D8D8;
                    margin-top: 50px;
                    display: flex;
                    justify-content: space-between;
                    flex-wrap: wrap;

                    @include SP {
                        margin-top: 40px;
                    }

                    .ques {
                        padding-top: 20px;
                        width: 92%;
                        font-size: 18px;
                        font-weight: 400;
                        letter-spacing: 0.1em;
                        line-height: calc(32/18);
                        margin-bottom: 20px;
                        position: relative;
                        padding-left: 50px;

                        @include SP {
                            font-size: 15px;
                            line-height: calc(24/15);
                            padding-left: 38px;
                        }

                        &:before {
                            content: 'Q.';
                            @include lato;
                            font-size: 32px;
                            font-weight: bold;
                            color: #E59601;
                            position: absolute;
                            left: 0;
                            top: 0;

                            @include SP {
                                font-size: 26px;
                                top: 6px;
                            }
                        }
                    }

                    .btn-dropdown {
                        display: flex;
                        width: 5%;
                        justify-content: flex-end;
                        align-items: center;

                        @include SP {
                            width: 8%;
                        }

                        .dropdown {
                            width: 24px;
                            background-color: #000;
                            height: 24px;
                            border-radius: 50%;
                            position: relative;

                            &.active span {
                                transform: rotate(90deg);
                            }

                            &.active .test {
                                left: 50%;
                                right: 50%;
                            }

                            span {
                                position: absolute;
                                transition: 300ms;
                                background: white;

                                &:first-child {
                                    top: 20%;
                                    bottom: 20%;
                                    width: 1%;
                                    left: 49%;

                                }

                                &:last-child {
                                    right: 20%;
                                    left: 20%;
                                    height: 1%;
                                    top: 48%;
                                }
                            }
                        }
                    }

                    .ans {
                        font-size: 15px;
                        font-weight: 400;
                        letter-spacing: 0.1em;
                        line-height: calc(28/15);
                        padding-left: 45px;
                        position: relative;
                        display: none;

                        @include SP {
                            font-size: 14px;
                            line-height: calc(24/14);
                        }

                        a {
                            color: #1A0DAB;
                            text-decoration: underline;
                        }

                        &:before {
                            content: 'A.';
                            font-family: 'Lato', sans-serif;
                            font-size: 24px;
                            font-weight: bold;
                            position: absolute;
                            left: 0;
                            top: 0;
                        }
                    }
                }
            }

            .title {
                font-size: 26px;
                font-weight: bold;
                letter-spacing: 0.1em;
                line-height: calc(42/26);
                text-align: center;
                margin-top: 50px;

                @include SP {
                    font-size: 24px;
                    line-height: calc(34/24);
                    padding: 0 50px;
                    font-weight: 900;
                    margin-top: 30px;
                }
            }

            .blockOr {
                border: 1px solid #E59601;
                margin-top: 42px;
                width: 100%;
                max-width: 987px;
                margin-left: auto;
                margin-right: auto;
                position: relative;

                @include SP {
                    margin-top: 25px;
                    width: calc(100% - 40px);
                }

                &__ttl {
                    background-color: #E59601;
                    color: #fff;
                    font-size: 22px;
                    font-weight: bold;
                    letter-spacing: 0.1em;
                    line-height: calc(42/22);
                    text-align: center;
                    padding: 10px 0;

                    @include SP {
                        font-size: 20px;
                        line-height: calc(26/20);
                        padding: 19.5px 30px;
                        text-align: left;
                    }
                }

                &__img {
                    position: absolute;
                    width: 29%;
                    margin: 0 auto;
                    top: 111px;
                    left: 35.7%;

                    &.fimg {
                        top: 141px;
                        width: 24.4%;
                        left: 37.7%;

                        @include SP {
                            top: 25px;
                            left: 0;
                            position: relative;
                            width: calc(100% - 38px);
                            padding: 0;
                        }
                    }

                    >img {
                        &:not(:last-child) {
                            margin-bottom: 30px;

                            @include SP {
                                width: 100%;
                            }
                        }

                        @include SP {
                            width: 100%;
                        }
                    }

                    @include SP {
                        top: 25px;
                        left: 0;
                        position: relative;
                        width: calc(100% - 38px);
                        padding: 0 27.5px;
                        margin: 0 auto 15px;
                        ;
                    }
                }

                &__inner {
                    margin: 50px;
                    display: flex;
                    justify-content: space-between;
                    position: relative;

                    @include SP {
                        display: block;
                        margin: 35px 19px 20px 19px;
                        overflow: hidden;
                    }

                    &.dB {
                        display: block;
                    }

                    &--part {
                        display: block;
                        width: 100%;
                        max-width: 31.5%;

                        @include SP {
                            max-width: 100%;
                            margin-top: 25px;
                        }

                        .cont {
                            background-color: #F2F0E7;
                            padding: 22px 25px;
                            margin-bottom: 15px;

                            @include SP {
                                padding: 22px 20px;
                            }

                            &__ttl {
                                font-size: 18px;
                                font-weight: bold;
                                letter-spacing: 0.1em;
                                line-height: calc(28/18);

                                >em {
                                    @include lato;
                                    display: inline-block;
                                    font-size: 16px;
                                    font-weight: bold;
                                    background-color: #E59601;
                                    border-radius: 50%;
                                    color: #fff;
                                    width: 24px;
                                    height: 24px;
                                    font-style: normal;
                                    text-align: center;
                                }
                            }

                            &__txt {
                                margin-top: 15px;
                                font-size: 14px;
                                letter-spacing: 0.1em;
                                line-height: calc(24/14);
                            }

                            &__img {
                                width: 100%;
                                max-width: 226px;
                                margin: 0 auto;

                                @include SP {
                                    width: 100%;
                                    max-width: 100%;
                                }
                            }
                        }
                    }

                    &--forin {
                        display: block;
                        width: 100%;
                        max-width: 49.4%;

                        @include SP {
                            max-width: 100%;
                        }

                        .forin-ttl {
                            font-size: 18px;
                            font-weight: bold;
                            letter-spacing: 0.1em;
                            line-height: calc(28/18);
                            margin-bottom: 10px;

                            @include SP {
                                font-size: 16px;
                                line-height: calc(28/16);
                            }

                            >span {
                                font-size: 14px;
                                line-height: calc(28/14);
                                letter-spacing: 0.1em;
                                font-weight: 400;

                                @include SP {
                                    font-size: 12px;
                                    line-height: calc(28/12);
                                }
                            }
                        }

                        .forin-img {
                            width: 100%;
                            max-width: 424px;
                            margin-bottom: 10px;

                            @include SP {
                                max-width: 100%;
                            }
                        }

                        .forin-txt {
                            font-size: 14px;
                            line-height: calc(24/14);
                            letter-spacing: 0.1em;

                            @include SP {
                                font-size: 14px;
                                line-height: calc(26/14);
                                margin-bottom: 10px;
                            }
                        }
                    }

                    >ul {
                        list-style: none;
                        padding-left: 0;

                        span {
                            font-size: 13px;
                            letter-spacing: 0.1em;
                            line-height: calc(32/13);
                            margin: 15px 0 20px 0;

                            >a {
                                color: #0000EE;

                                &:hover {
                                    opacity: 1;
                                }
                            }

                            @include SP {
                                font-size: 12px;
                                line-height: calc(18/12);
                            }
                        }

                        p {
                            font-size: 15px;
                            letter-spacing: 0.1em;
                            line-height: calc(32/13);
                            margin: 15px 0 20px 0;

                            @include SP {
                                font-size: 14px;
                                line-height: calc(20/14);
                            }

                            &.ttl {
                                font-size: 18px;
                                font-weight: bold;
                                letter-spacing: 0.1em;
                                line-height: calc(42/18);
                                border-bottom: 1px solid #D8D8D8;
                                margin: 0;
                            }

                            &.list {
                                &.mT {
                                    margin-top: 15px;
                                }

                                font-size:15px;
                                letter-spacing: 0.1em;
                                line-height: calc(28/15);
                                padding-left:15px;
                                position: relative;
                                margin:0;

                                &:before {
                                    content: "";
                                    position: absolute;
                                    background-color: #E59601;
                                    border-radius: 50%;
                                    width: 5px;
                                    height: 5px;
                                    left: 0;
                                    top: 10px;
                                }

                                @include SP {
                                    font-size: 14px;
                                    line-height: calc(20/14);
                                }
                            }

                            &.orange-txt {
                                margin: 15px 0 10px 0;
                                color: #E59601;
                                font-size: 16px;
                                line-height: calc(42/16);
                                font-weight: bold;
                                letter-spacing: 0.1em;
                            }
                        }
                    }

                    .txt-heading {
                        font-size: 16px;
                        letter-spacing: 0.1em;
                        line-height: calc(32/16);
                        margin-bottom: 10px;
                    }

                    .into {
                        display: flex;
                        justify-content: space-between;
                        margin: 20px 0;

                        .entry {
                            width: 57%;

                            .txt {
                                margin-top: 20px;
                                background-color: #F2F0E7;
                                font-size: 14px;
                                letter-spacing: 0.1em;
                                line-height: calc(24/14);
                                padding: 20px;
                            }

                            @include SP {
                                width: 100%;
                            }
                        }

                        .entry-img {
                            width: 43%;
                            max-width: 319px;

                            @include SP {
                                width: 100%;
                                max-width: 100%;
                                margin-top: 20px;
                            }
                        }

                        @include SP {
                            flex-wrap: wrap;
                        }
                    }
                }
            }

            .btn-blockOr {
                width: 100%;
                max-width: 380px;
                margin: 50px auto;
                text-align: center;
                font-size: 16px;
                color: #fff;
                font-weight: bold;
                background-color: #000;
                border: 1px solid #000;
                padding: 30px;
                position: relative;
                cursor: pointer;

                @include SP {
                    max-width: 335px;
                    padding: 16.25px 0;
                }

                a {
                    text-decoration: none;
                    position: relative;
                    width: 100%;
                    mix-blend-mode: difference;

                    &:before {
                        content: "";
                        position: absolute;
                        border-top: 1px solid #fff;
                        width: 20px;
                        right: calc(50% - 190px);
                        top: 12px;

                        @include SP {
                            right: calc(50% - 167px);
                        }
                    }

                    &:hover {
                        opacity: 1;
                        color: #fff;

                        @include SP {
                            color: #000;
                        }
                    }
                }

                &:before {
                    content: "";
                    position: absolute;
                    width: 0%;
                    background-color: #fff;
                    height: 100%;
                    top: 0;
                    left: 0;
                    transition: 0.3s all;

                    @include SP {
                        width: 100%;
                        background-color: #000;
                    }
                }

                &:hover {
                    &:before {
                        width: 100%;
                    }
                }
            }
        }

        @include SP {
            max-width: 100%;
            flex-wrap: wrap;
        }
    }

    @include SP {
        display: block;
    }
}

.contactbox {
    margin-top: 80px;
    width: 100%;

    .outside {
        width: 100%;
        max-width: 1270px;
        margin: 0 auto;
        background-color: #E59601;
        padding: 60px 90px;

        @include SP {
            width: calc(100% - 40px);
            padding: 20px 24px;
        }

        .ttl {
            font-weight: 900;
            font-size: 40px;
            line-height: calc(101/40);
            letter-spacing: 0.1em;
            color: #fff;
            text-align: center;

            @include SP {
                font-size: 28px;
                line-height: calc((54/28));
            }
        }

        .txt {
            font-size: 16px;
            font-weight: 900;
            letter-spacing: 0.1em;
            line-height: calc(34/16);
            color: #fff;
            text-align: center;

            @include SP {
                font-size: 14px;
                line-height: calc(24/14);
                padding: 0 25px;
            }
        }

        .box-inside {
            display: flex;
            justify-content: space-between;
            margin-top: 45px;

            @include SP {
                flex-wrap: wrap;
                margin-top: 20px;
                justify-content: center;
            }

            &__part {
                border: 1px solid #fff;
                padding: 30px 35px;
                width: 100%;
                max-width: 529px;

                @include SP {
                    padding: 8.5px 16.5px;
                    margin-bottom: 15px;
                    ;
                }

                &--ttl {
                    font-size: 18px;
                    font-weight: 900;
                    letter-spacing: 0.1em;
                    line-height: calc(40/18);
                    color: #fff;
                    text-align: center;

                    @include SP {
                        font-size: 14px;
                        line-height: calc(40/14)
                    }
                }

                &--phone {
                    @include lato;
                    font-size: 46px;
                    font-weight: bold;
                    line-height: calc(55/46);
                    color: #fff;
                    position: relative;
                    padding-left: 30px;
                    text-align: center;
                    margin: 20px 0 15px 0;

                    @include SP {
                        font-size: 28px;
                        line-height: calc(34/28);
                        padding-left: 0;
                        margin: 0 0 10px;
                    }

                    &:before {
                        content: "";
                        position: absolute;
                        background: url(../../img/municipality/phone-white.svg);
                        width: 30.91px;
                        height: 31.14px;
                        left: calc(50% - 190px);
                        top: 13px;

                        @include SP {
                            background-size: 21.2px 21.36px;
                            width: 21.2px;
                            height: 21.36px;
                            left: calc(50% - 126px);
                            top: 10px;
                        }
                    }
                }

                &--txt {
                    font-size: 12px;
                    letter-spacing: 0.1em;
                    line-height: calc(14/12);
                    color: #fff;
                    text-align: center;

                    @include SP {
                        font-size: 10px;
                        line-height: calc(14/10);
                    }
                }

                &--btn {
                    width: 100%;
                    max-width: 310px;
                    margin: 20px auto;
                    background-color: #000;
                    border: 1px solid #000;
                    position: relative;
                    padding: 15px 0;
                    text-align: center;
                    cursor: pointer;

                    @include SP {
                        margin: 0 auto;
                        padding: 5.75px 0;
                    }

                    a {
                        position: relative;
                        color: #fff;
                        mix-blend-mode: difference;
                        font-size: 16px;
                        line-height: calc(34/16);
                        letter-spacing: 0.1em;
                        font-weight: bold;

                        &:after {
                            content: "";
                            position: absolute;
                            border-top: 1px solid #fff;
                            width: 20px;
                            right: calc(50% - 154.4px);
                            top: 11px;

                            @include SP {
                                right: calc(50% - 126.4px);
                            }
                        }

                        &:hover {
                            opacity: 1;
                            color: #fff;
                        }
                    }

                    &:before {
                        content: "";
                        position: absolute;
                        width: 0%;
                        height: 100%;
                        background-color: #fff;
                        top: 0;
                        left: 0;
                        transition: 0.3s all;

                    }

                    &:hover {
                        &:before {
                            width: 100%;

                            @include SP {
                                width: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}

.before-footer {
    width: 100;
    margin-top: -206px;
    position: relative;
    z-index: -1;

    @include SP {
        min-height: 408px;
    }

    img {
        @include SP {
            width: 100%;
            height: 100%;
            position: absolute;
            object-fit: cover;
        }
    }
}

.scrolltop {
    position: fixed;
    display: inline-block;
    z-index: 999;
    width: 10px;
    bottom: 30px;
    right: 35px;
    margin: 0;

    @include SP {
        right: 16px;
    }

    &:hover {
        color: #E59601;
        transition: all 0.3s;

        @include SP {
            color: #000;
        }
    }

    p {
        display: inline-block;
        writing-mode: vertical-lr;
        font-size: 10px;
        letter-spacing: 0.03em;
        font-weight: bold;
        @include lato;
        padding-top: 68px;
        position: relative;
        margin: 0;

        &:before {
            content: "";
            position: absolute;
            width: 1px;
            height: 61px;
            left: calc(50% - 1px);
            background-color: #000;
            top: 0;
        }

        &:hover {
            &:before {
                content: "";
                position: absolute;
                width: 1px;
                height: 61px;
                left: calc(50% - 1px);
                background-color: #E59601;
                top: 0;
                transition: all 0.3s;
            }
        }
    }
}

#scroll-top {
    cursor: pointer;
}

#scroll {
    height: 290px;
}

#toggle {
    display: none;
}

.cont {
    background-color: #F2F0E7;
    padding: 22px 20px;
    margin-bottom: 15px;

    &:nth-child(1) {
        order: 0
    }

    &:nth-child(2) {
        order: 2
    }

    &:nth-child(3) {
        order: 1
    }

    &:nth-child(4) {
        order: 3
    }

    &__ttl {
        font-size: 18px;
        font-weight: bold;
        letter-spacing: 0.1em;
        line-height: calc(28/18);

        >em {
            @include lato;
            display: inline-block;
            font-size: 16px;
            font-weight: bold;
            background-color: #E59601;
            border-radius: 50%;
            color: #fff;
            width: 24px;
            height: 24px;
            font-style: normal;
            text-align: center;
        }
    }

    &__txt {
        margin: 15px 0;
        font-size: 14px;
        letter-spacing: 0.1em;
        line-height: calc(24/14);
    }

    &__img {
        width: 100%;
        margin: 0 auto;
        max-width: 100%;

        img {
            width: 100%;
        }
    }
}

.slick-track {
    display: flex;
}

.slick-list {
    width: 100%;
}

.slick-slide {
    width: 100%;
}

.slide {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}

.btn-slideshow,
.btn2-slideshow {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px auto 37px;
    position: relative;
}

.slick-prev {
    position: relative;
    order: 0;
    transform: rotate(-45deg);
}

.slick-next {
    position: relative;
    order: 2;
    transform: rotate(135deg);
}

.slick-arrow {
    width: 14px;
    height: 14px;
    appearance: none;
    box-shadow: none;
    font-size: 0px;
    line-height: 0;
    letter-spacing: 0;
    margin: 0;
    padding: 0;
    border-left: 2px solid #E59601;
    border-top: 2px solid #E59601;
}

.slick-disabled {
    opacity: 0.5;
}

.slick-dots {
    position: relative;
    top: 18px;
    left: -10px;
    order: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    li {
        margin: 0;
        padding: 0 14px;

        &.slick-active button {
            border-color: #E59601;
            background: #E59601;
        }

        button {
            appearance: none;
            box-shadow: none;
            width: 18px;
            height: 4px;
            display: block;
            background: #D8D8D8;
            font-size: 0px;
            line-height: 0;
            letter-spacing: 0;
            border: 1px solid #fff;
            padding: 0;
            margin: 0;
        }
    }
}