@charset 'UTF-8';

body{
  overflow-x:hidden;
}
.sp {
  display: none;

  @include SP {
    display: block;
  }
}

.footer {
  position: relative;
  left: auto;
  padding: 50px 0;
  background: url(../img/municipality/bg-footer.png);
  background-color: #F2F0E7;
  @include add_prefix(box-shadow, 0px 0px 5px 1px rgba(0, 0, 0, 0.1));

  @include SP {
    padding: 30px 0;
  }

  .inFooter {
    display: flex;
    justify-content: space-between;
    max-width: 1310px;
    margin: 0 auto;
    position: relative;
    padding: 0 20px;

    @include SP {
      display: block;
      margin: 20px auto
    }

    &__left {
      width: 460px;

      @include SP {
        width: 100%;
        max-width: 460px;
        padding-left: 20px;
        margin-left:0;
      }

      .fcontent {
        display: flex;
        justify-content: space-between;
        @include max-screen(990px){
          justify-content: flex-start;
        }

        &__logo-footer {
          width: 158.68px;
          height: 96.87px;
          background: url(../img/municipality/logo-footer.svg) center/ 158.68px 96.87px no-repeat;
          @include max-screen(990px){
            width: 121.68px;
          height: 66.87px;
          background: url(../img/municipality/logo-footer.svg) center/ 121.68px 66.87px no-repeat;
          }
          @include SP {
            position: absolute;
            background: url(../img/municipality/logo-footer.svg) center/ 120px 73px no-repeat;
            width: 120px;
            height: 73px;
          }
        }

        >ul {
          list-style: none;
          padding-left: 15px;

          @include SP {
            padding-left: 0;
          }

          .ftxt {
            font-weight: 900;
            font-size: 18px;
            letter-spacing: 0.1em;
            line-height: 42px;
            @include max-screen(990px){
              font-size: 16px;
              line-height: (30/16);
            }
            @include SP {
              line-height: 20px;
              margin: 20px 0 0 135px;
            }

            >span {
              font-size: 12px;
              padding-left: 10px;
            }
          }

          li {
            font-size: 12px;
            letter-spacing: 0.1em;
            line-height: 20px;
            @include max-screen(990px){
              font-size: 10px;
            }
            @include SP {
              font-size: 14px;
              line-height: 25px;

              &:nth-child(2) {
                margin-top: 20px;
              }
            }
          }
        }
      }

      .scontent {
        display: flex;
        justify-content: space-between;
        margin-top: 15px;
        @include max-screen(990px){
          width: 405px;
        }
        @include SP {
          display: none;
        }

        .btn {
          position: relative;
          background: #000;
          border: 1px solid #000;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 222px;
          height: 46px;
          cursor: pointer;
          @include max-screen(990px){
            width: 192px;
            height: 40px;
          }
          &:before {
            content: "";
            position: absolute;
            transition: all 0.3s;
            width: 0;
            height: 100%;
            background-color: #fff;
            top: 0;
            left: 0
          }

          &:hover {
            &:before {
              width: 100%;
            }
          }

          .b-txt {
            width: 100%;
            text-align: center;
            position: relative;
            font-size: 16px;
            font-weight: 700;
            letter-spacing: 0.1em;
            line-height: 64px;
            color: #fff;
            text-decoration: none;
            mix-blend-mode: difference;
            opacity: 1;
            @include max-screen(990px){
              font-size: 14px;
            }
            &:after {
              content: "";
              position: absolute;
              border-top: 1px solid #fff;
              width: 15px;
              top: calc(50% - 1px);
              right: 0;
            }
          }
        }
      }
    }

    &__right {
      width: calc(50% - 10px);
      max-width: 610px;
      display: flex;
      justify-content: flex-start;
      padding-right: 40px;
      margin-right:10px;
      @include max-screen(995px){
        margin-right:0;
        padding-right:0;
      }
      @include max-screen(990px){
        max-width: 400px;
        margin-right:32px;
      }
      @include SP {
        width: calc(100% + 40px);
        max-width: calc(100% + 40px);
        display: block;
        margin-top: 40px;
        position: relative;
        left: -20px;
      }

      .menu-footer {
        width: 100%;
        max-width: 183px;
        list-style: none;
        padding-left: 0;
        margin-right: 35px;

        @include SP {
          font-size: 0;
          margin: 0;
          max-width: 100%;

          &:nth-of-type(1) {
            li {
              &:nth-child(2n) {
                border-right: 1px solid #c3baba;
              }
            }
          }

          &:nth-of-type(2) {
            li {
              &:nth-child(2n+1) {
                border-right: 1px solid #c3baba;
              }
            }
          }
        }

        li {
          font-size: 14px;
          font-weight: 700;
          letter-spacing: 0.1em;
          line-height: 34px;
          border-bottom: 1px solid #C3BABA;
          padding-left: 25px;
          position: relative;
          cursor: pointer;
          @include max-screen(990px){
            font-size: 12px;
            line-height: calc(30/12);
          }
          @include SP {
            &.home-sp {
              display: flex;
              width: 100%;
              justify-content: center;
              border-top: 1px solid #C3BABA;
              font-size: 18px;

              &:before {
                display: none;
              }
            }

            width: 50%;
            display: inline-block;
            padding-left:45px;
            height: 66px;
            font-size:15px;
            line-height: calc(20/15);
            vertical-align: top;

          }

          span {
            height: 100%;
            position: relative;
            display: flex;
            align-items: center;

            &:before {
              content: "";
              width: 15px;
              height: 15px;
              position: absolute;
              border: 1px solid #000;
              border-radius: 50%;
              background: url(../img/municipality/arr.svg) center left 6px/4px 7px no-repeat;
              left: -25px;
              top: calc(100% - 25px);
              @include add_prefix(transition, 0.3s ease all);
              transition: 0.3s;

              @include SP {
                top: calc(100% - 39px);
                left: -28px;
              }
            }

            &:hover {
              &:before {
                background: #E59601 url(../img/municipality/arr.svg) center left 6px/4px 7px no-repeat;
                border: 1px solid #E59601;

                @include SP {
                  background: url(../img/municipality/arr.svg) center left 6px/4px 7px no-repeat;
                  border: 1px solid #000;
                }
              }
            }
          }


        }
      }
    }

    &__social {
      width: 100%;
      max-width: 95px;
      position: absolute;
      display: flex;
      justify-content: space-between;
      right: 63px;
      bottom: -20px;
      @include max-screen(990px){
        max-width: 82px;
      }
      @include SP {
        margin: 0 auto;
        position: relative;
        max-width: 110px;
        right:0;
        ;
      }

      .fb {
        content: "";
        background: url(../img/municipality/ico_fb.svg);
        width: 43px;
        height: 43px;
        cursor: pointer;
        background-size: cover;
        transition: 0.3s;
        @include max-screen(990px){
          width: 38px;
          height: 38px;
        }
        &:hover {
          background: url(../img/municipality/fb_ico-ac.svg);

          @include SP {
            background: url(../img/municipality/ico_fb.svg);
          }
        }
      }

      .instg {
        content: "";
        background: url(../img/municipality/ico_instg.svg);
        height: 43px;
        width: 43px;
        background-size: cover;
        cursor: pointer;
        transition: 0.3s;
        @include max-screen(990px){
          width: 38px;
          height: 38px;
        }
        &:hover {
          background: url(../img/municipality/ico_instg-ac.svg);

          @include SP {
            background: url(../img/municipality/ico_instg.svg);
          }
        }

      }
    }
  }

}
.contactbox {
  margin-top: 80px;
  width: 100%;

  .outside {
      width: calc(100% - 65px);
      margin: 0 auto;
      background-color: #E59601;
      padding: 60px 90px;
      @include max-screen(1024px){
        width: calc(100% - 35px);
      } 
      @include SP {
          width: calc(100% - 40px);
          padding: 20px 24px;
      }

      .ttl {
          font-weight: 900;
          font-size: 40px;
          line-height: calc(101/40);
          letter-spacing: 0.1em;
          color: #fff;
          text-align: center;

          @include SP {
              font-size: 28px;
              line-height: calc((54/28));
          }
      }

      .txt {
          font-size: 16px;
          font-weight: 900;
          letter-spacing: 0.1em;
          line-height: calc(34/16);
          color: #fff;
          text-align: center;

          @include SP {
              font-size: 14px;
              line-height: calc(24/14);
              padding: 0 25px;
          }
      }

      .box-inside {
          display: flex;
          justify-content: space-between;
          margin-top: 45px;

          @include SP {
              flex-wrap: wrap;
              margin-top: 20px;
              justify-content: center;
          }

          &__part {
              border: 1px solid #fff;
              padding: 30px 35px;
              width: calc(50% - 16px);

              @include SP {
                  padding: 8.5px 16.5px;
                  margin-bottom: 15px;
                  width: 100%;
              }

              &--ttl {
                  font-size: 18px;
                  font-weight: 900;
                  letter-spacing: 0.1em;
                  line-height: calc(40/18);
                  color: #fff;
                  text-align: center;

                  @include SP {
                      font-size: 14px;
                      line-height: calc(40/14)
                  }
              }

              &--phone {
                  @include lato;
                  font-size: 46px;
                  font-weight: bold;
                  line-height: calc(55/46);
                  color: #fff;
                  position: relative;
                  padding-left: 30px;
                  text-align: center;
                  margin: 20px 0 15px 0;
                  @include screen(1024px,1133px){
                    font-size: 36px;
                  }
                  @include SP {
                      font-size: 28px;
                      line-height: calc(34/28);
                      padding-left: 0;
                      margin: 0 0 10px;
                  }

                  &:before {
                      content: "";
                      position: absolute;
                      background: url(../../img/municipality/phone-white.svg);
                      width: 30.91px;
                      height: 31.14px;
                      left: calc(50% - 190px);
                      top: 13px;

                      @include SP {
                          background-size: 21.2px 21.36px;
                          width: 21.2px;
                          height: 21.36px;
                          left: calc(50% - 126px);
                          top: 10px;
                      }
                  }
              }

              &--txt {
                  font-size: 12px;
                  letter-spacing: 0.1em;
                  line-height: calc(14/12);
                  color: #fff;
                  text-align: center;

                  @include SP {
                      font-size: 10px;
                      line-height: calc(14/10);
                  }
              }

              &--btn {
                  width: calc(100% - 12px);
                  max-width: 310px;
                  margin: 20px auto;
                  background-color: #000;
                  border: 1px solid #000;
                  position: relative;
                  padding: 15px 0;
                  text-align: center;
                  cursor: pointer;

                  @include SP {
                      margin: 15px auto 0;
                      padding: 5.75px 0;
                  }

                  a {
                      display:block;
                      position: relative;
                      color: #fff;
                      mix-blend-mode: difference;
                      font-size: 16px;
                      line-height: calc(34/16);
                      letter-spacing: 0.1em;
                      font-weight: bold;

                      &:after {
                          content: "";
                          position: absolute;
                          border-top: 1px solid #fff;
                          width: 20px;
                          right: 0;
                          top: calc(50% - 1px);
                      }

                      &:hover {
                          opacity: 1;
                          color: #fff;
                      }
                  }

                  &:before {
                      content: "";
                      position: absolute;
                      width: 0%;
                      height: 100%;
                      background-color: #fff;
                      top: 0;
                      left: 0;
                      transition: 0.3s all;

                  }

                  &:hover {
                      &:before {
                          width: 100%;

                          @include SP {
                              width: 0;
                          }
                      }
                  }
              }
          }
      }
  }
}

.before-footer {
  width: 100;
  margin-top: -206px;
  position: relative;
  z-index: -1;

  @include SP {
      min-height: 408px;
  }

  img {
      @include SP {
          width: 100%;
          height: 100%;
          position: absolute;
          object-fit: cover;
      }
  }
}
